$main-font: "Kanit", sans-serif;
$second-font: 'IBM Plex Mono', monospace;
$h1: 3rem;
$p: .8rem;

.bold {
    font-weight: 600;
}

h1 {
    font-family: $main-font;
    margin: 0;
    font-size: $h1;
}
p {
    font-family: $second-font;
    margin: 0;
    font-size: $p;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.main {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 4rem;
  .hello-emo {
    &::after {
      content: "🙎‍♂️";
      --emoji: "🙋‍♂️";
      animation: twoFrames 3s infinite;
    }
  }
  .glass {
    &::after {
      content: "🤓";
      --emoji: "😎";
      animation: twoFrames 2s infinite;
    }
  }
}

@keyframes twoFrames {
  50% {
    content: var(--emoji);
  }
}

::selection {
  background: #00ff0d;
}

::-moz-selection {
  background: #00ff0d;
}
