// Color
$dark: #000;
$base: #58a6ff;
$angular: #c3002f;
$github: #8b949e;
$linkedin: #0a66c2;
$medium: #0be370;

// Font
$second-font: "IBM Plex Mono", monospace;
$main-font: "Kanit", sans-serif;

// Breakpoints
$sm: 576px;
$md: 768px;

$h1: 3rem;
$p: 0.8rem;

.bold {
  font-weight: 600;
}

h1 {
  font-family: $main-font;
  margin: 0;
  font-size: $h1;
  line-height: 50px;
  margin-bottom: 18px;
  @media (max-width: $sm) {
    h1 {
      font-size: 2.5rem;
    }
  }
}

p,
a {
  font-family: $second-font;
  margin: 0;
  font-size: $p;
}

a {
  color: $dark;
  &.base {
    &:hover {
      color: $base;
    }
  }
  &.angular {
    &:hover {
      color: $angular;
    }
  }
  &.github {
    &:hover {
      color: $github;
    }
  }
  &.medium {
    &:hover {
      color: $medium;
    }
  }
  &.linkedin {
    &:hover {
      color: $linkedin;
    }
  }
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.main {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 4rem;
  @media (max-width: $sm) {
    padding: 0 1rem;
    #mobile-break {
      display: block;
    }
  }
  @media (min-width: $md) {
    #mobile-break {
      display: none;
    }
  }
  .hello {
    &::after {
      content: "🙋‍♂️";
      animation: hello 3s infinite;
      -webkit-animation: hello 3s infinite;
    }
  }
    .glass {
      &::after {
        content: "😎";
        animation: glass 2s infinite;
        -webkit-animation: glass 2s infinite;
      }
    }
  .social {
    padding: 1rem 0;
    a {
      margin-right: 10px;
    }
  }
}

@keyframes hello {
  0% {
    content: "🙋‍♂️";
  }
  100% {
    content: "🙎‍♂️";
  }
}

@keyframes glass {
  0% {
    content: "🤓";
  }
  100% {
    content: "😎";
  }
}

::selection {
  background: #00ff0d;
}

::-moz-selection {
  background: #00ff0d;
}
