.custom_cursor {
    display: inline-block;
    opacity: 0;
    animation: cursor 1s infinite;
    font-weight: normal;

    &:after {
        content: "|";
    }

    &--terminal {
        &:after {
            content: "_";
        }
    }
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}