@media screen and (max-width: 700px) {
    .personal_info {
        position: absolute;
        bottom: 1rem !important;
        left: 1rem !important;
    }
    div.audio_strips {
        display: none;
    }
}