@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:300,400,600,700');
$main-font: 'Overpass Mono', monospace;
// $main-font: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;

$dark-color: #000;
$light-color: #fff;
body {
    background: $dark-color;
}

.personal_info {
    position: absolute;
    bottom: 1rem;
    left: 4rem;
    width: 20vw;
    .name {
        color: $light-color;
        font-size: 0.8rem;
        font-family: $main-font;
        font-weight: lighter;
        letter-spacing: 1px;
    }
    .description {
        color: $light-color;
        font-family: $main-font;
        margin-top: .1rem;
        font-weight: lighter;
        font-size: 1.25rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.personal_info {
    opacity: 0;
    animation: fadeIn ease-in 4s;
    animation-fill-mode: forwards;
    animation-delay: 0;
}

::selection {
    background: #00ff0d;
}

::-moz-selection {
    background: #00ff0d;
}

.c-cursor {
    display: inline-block;
    opacity: 0;
    animation: cursor 1s infinite;
    font-weight: normal;

    &:after {
        content: "|";
    }

    &--terminal {
        &:after {
            content: "_";
        }
    }
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}